html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  min-width: 300px;
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  height: 100%;
  background: #ddd;
  background: linear-gradient(to top, #ddd, #eee);
  background-repeat: no-repeat;
  background-attachment: fixed;
  letter-spacing: 0.5px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

:root {
  --color-white: #fafafa;
  --color-light: #aaaaaa;
  --color-dark: #555555;
  --color-primary: #fd746c;
  --default-gap: 1rem;
  --default-border-radius: 0.375rem;
  --breakpoint: mobile;
  --interaction: touch;
}

a {
  color: inherit;
  text-decoration: none;
}

a.link,
a:focus {
  color: var(--color-primary);
  outline: none;
}

* {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }

  :root {
    --breakpoint: tablet;
    --default-gap: 1.5rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --breakpoint: desktop;
  }
}

@media (min-width: 1216px) {
  :root {
    --breakpoint: widescreen;
  }
}

@media (min-width: 1408px) {
  :root {
    --breakpoint: fullhd;
  }
}

@media (hover: none) and (pointer: coarse) {
  :root {
    --interaction: touch;
  }
}

@media (hover: hover) and (pointer: fine) {
  :root {
    --interaction: mouse;
  }
}
